@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=3.2.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), 
       url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'), 
       url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), 
       url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

div#personalNotes>input,textarea, .uneditable-input {
	width:98%;
	height:80%;
	resize:vertical;
}

div#teamNotes>input,textarea, .uneditable-input {
	width:98%;
	height:80%;
	resize:vertical;
}

table.table.table-striped {
	table-layout: fixed;
	width: 100%;
}

table.table.table-striped td {
	word-wrap: break-word;
}

.pagination {
	margin: 0px 0px 0px 0px;
}

.span3.well img {
	display: block;
	padding: 10px 0px 10px 0px;
	margin-right: auto;
	margin-left: auto;
}

.dropdown-toggle {
	border-radius: 0 4px 4px 0!important;
}

/*[class^="icon-"],
[class*=" icon-"] {
	background-image: url('/images/glyphicons-halflings.png')
}*/
