body {
	background-image: url('/images/background.png');
	padding-top: 60px;
	padding-bottom: 40px;
	color: #c3ab55;
	font-size: 14pt;
}

.navbar-inverse .navbar-inner {
	background-color:#c3ab55;
	background-image:-webkit-linear-gradient(top, #594c23, #151610);
}
	
textarea, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], 
input[type="color"], .uneditable-input {
	background-color: #131313;
	border: 1px solid rgb(111, 85, 30);
}

.navbar-inverse .brand {
	color: #c3ab55;
	font-size: 16pt;
}
	
.well {
	background-color: #151610;
	border: 2px solid #c3ab55;
	padding-top: 5px;
	padding-bottom: 5px;
}

legend {
	font-family: Starjedi;
	color: #c3ab55;
	border-bottom: 1px solid #c3ab55;
}

h1, h2 {
	font-family: Starjedi;
}

h1 {
	font-size: 48pt;
	padding: 10px;
}

h1.title {
	font-family: Starjedi;
	font-size: 48pt;
	padding: 10px;
}

@media (min-width: 1200px) {
	.bs-docs-container {

	}
	.bs-docs-sidenav {

	}
	.bs-docs-sidenav > li > a {
		width: 230px \9;
	}
}

th {
	font-family: Starjedi;
	font-size: 20pt;
	background-color: rgb(68, 66, 59);
}

table {
	border: 1px solid #c3ab55;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  /*background-color: #151610;*/
  background-color: rgb(21,22,16);	
  border: none;
}

.table-striped tbody > tr:nth-child(even) > td,
.table-striped tbody > tr:nth-child(even) > th {
  /*background-color: #151610;*/
  background-color: rgb(68, 66, 59);
  border: none;
}

[class^="icon-"],
[class*=" icon-"] {
	background-image: url('/images/glyphicons-halflings.png')
}