mixin team_member(team_id, user_id, name)
	tr
		td
			| #{name}
		td
			a(href="/admin/teams/#{team_id}/members/#{user_id}", data-method="delete", rel="nofollow").btn.btn-danger.delete-button.pull-right Remove
