!!! 5
html
    head
        title Hack Warz:  Logout
        link(rel='stylesheet', type='text/css', href='/stylesheets/hackWarz.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/tabs.css')
    body
        h2 Logout
        h3 You have logged out...
