//-
//-   Copyright 2013 Life Cycle Engineering
//-
//-   Licensed under the Apache License, Version 2.0 (the "License");
//-   you may not use this file except in compliance with the License.
//-   You may obtain a copy of the License at
//-
//-   http://www.apache.org/licenses/LICENSE-2.0
//-
//-   Unless required by applicable law or agreed to in writing, software
//-   distributed under the License is distributed on an "AS IS" BASIS,
//-   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//-   See the License for the specific language governing permissions and
//-   limitations under the License.
//-

//-
//-   Authors: Robert Dunigan
//-
extends layout

//-  div.container
//-    div.fluid-container
//-      div.row-fluid

block content
  
  div.span9.well.bs-docs.sidebar
    h2 Notes
    ul#myTab.nav.nav-tabs(data-tabs='tabs')
      li.active
        a(href='#personalNotes', data-toggle='tab') Personal
      li
        a(href='#teamNotes', data-toggle='tab') Team
    div.tab-content
      div#personalNotes.tab-pane.active
        textarea(rows='25', wrap='hard', name='userNotes', placeholder='User Notes', readonly='readonly')
          | #{notes[0].text}
        p
        form.form-inline(method='post', action='/notes/submit')
          input(type='textarea', rows='300', cols='150', wrap='hard', name='noteInput', placeholder='Enter Notes', spellcheck='true', value='')
          span.icon-bar
          button.btn(type='submit') Submit
      div#teamNotes.tab-pane
        textarea(rows='25', wrap='hard', name='teamNotes', placeholder='Team Notes', readonly='readonly')
  include includes/sponsors
