//-
//-   Copyright 2013 Life Cycle Engineering
//-   
//-      Licensed under the Apache License, Version 2.0 (the "License");
//-   you may not use this file except in compliance with the License.
//-   You may obtain a copy of the License at
//-
//-   http://www.apache.org/licenses/LICENSE-2.0
//-
//-   Unless required by applicable law or agreed to in writing, software
//-   distributed under the License is distributed on an "AS IS" BASIS,
//-   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//-   See the License for the specific language governing permissions and
//-   limitations under the License.

//-
//-   Authors:  Robert Dunigan
//-

!!! 5
html
    
    include includes/head
    
    body.registrationBody(onload='init();')
        #registrationTitle Hack Warz
        form#registrationForm(method='post', action='/registration/submit')
            label(for='username') Username:
            input#username(type='text', name='username', autofocus='true', tabindex='1', required='true/')
            br
            label(for='password') Password:
            input#password(type='password', name='password', tabindex='2', required='true/')
        button#submit(type='submit', form='registrationForm', name='registrationSubmit', value='Submit', tabindex='3') Register
