!!! 5
html
    head
        title Hack Warz:  Registration
        link(rel='stylesheet', type='text/css', href='/stylesheets/hackWarz.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/tabs.css')
    body.registrationBody(onload='init();')
        #registrationTitle Hack Warz
        form#registrationForm(method='post', action='/registration/submit')
            label(for='userName') Username:
            input#userName(type='text', name='userName', autofocus='true', tabindex='1', required='true/')
            br
            label(for='password') Password:
            input#password(type='password', name='password', tabindex='2', required='true/')
        button#submit(type='submit', form='registrationForm', name='registrationSubmit', value='Submit', tabindex='3') Register
        