!!! 5
html
  head
    title Hack Warz:  Scoreboard
    link(rel='stylesheet', type='text/css', href='/stylesheets/hackWarz.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/tabs.css')
  body
    h2 Scoreboard
    table#scoreTable.token(name='scoreTable')
      thead
        tr
          th Username
          th Score
      tbody!= tbod