!!! 5
html
  head
    title Hack Warz:  Submissions
    link(rel='stylesheet', type='text/css', href='/stylesheets/hackWarz.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/tabs.css')
  body(onload='initTokens();')
    h2 Submissions
    form#tokenInfo(method='post', action='/submissions/submit')
      label(for='tokenID') Token iD:  
      input#tokenID(type='text', name='tokenID', tabindex='1', required='true/')
    button#submit(type='submit', form='tokenInfo', name='tokenSubmit', value='Submit', tabindex='2') Submit
    table#tokenTable.token.submission(name='tokenTable')
      thead
        tr
          th Token iD
          th Accomplishment
          th Point Value
      tbody!= tbod