//-
//-   Copyright 2013 Life Cycle Engineering
//-
//-   Licensed under the Apache License, Version 2.0 (the "License");
//-   you may not use this file except in compliance with the License.
//-   You may obtain a copy of the License at
//-
//-   http://www.apache.org/licenses/LICENSE-2.0
//-
//-   Unless required by applicable law or agreed to in writing, software
//-   distributed under the License is distributed on an "AS IS" BASIS,
//-   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//-   See the License for the specific language governing permissions and 
//-   limitations under the License.
//-

tr
    td
        | #{hint.title}
    td
        span.pull-right
            a(href="/admin/hints/#{hint._id}").btn View
            a(href="/admin/hints/#{hint._id}/edit", style="margin-left: 5px").btn.btn-primary Edit
            a(href="/admin/hints/#{hint._id}", style="margin-left: 5px", data-method="delete", rel="nofollow").btn.btn-danger.delete-button Delete
