doctype 5
html
  head
    title Teams Index
  body
    form(method='post', action='/teams/#{team._id}')
      input(type="hidden", name="_method", value="put")
      div.field
        label Name
        input(type="text", name="name", value="#{team.name}")
      div.actions
        input(type="submit", value="Update")